body{
    h1{
        background-color: rgb(175, 180, 180);
    }
    div{
        background-color: rgb(120, 131, 127);
        opacity: 0,3;
    }
    p {
        background-color: rgb(135, 135, 130);
    }
    body {
        background-color: lightblue;
      }
      p.dotted {outline-style: dotted;}
      
    {background-color;

        ul {
            list-style-type: none;
            margin: 110;
            padding: 100;
          }
      
      li a {
        display: block;
      }
    }
