body {background-color: rgb(239, 208, 215);
}

ul {
    list-style-type: none;
    margin: 20;
    padding: 20;
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #cb9191;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aa7575;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(18, 16, 16);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .active {
    background-color: #04AA6D;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #000000;
  }
   /* Add a black right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid #000000;
}

li:last-child {
  border-right: none;
}
   
   
   
   /*ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60px;
      }
      p.dashed {border-style: dashed;}
      
      li a {
        display: block;
      }
    ul {
        list-style-type: none;
        margin: 19;
        padding: 20;
      }
    h1{
        background-color: rgb(175, 180, 180);
    }
    div{
        background-color: rgb(120, 131, 127);
        opacity: 0,3;
    }
    p {
        background-color: rgb(135, 135, 130);
    }
    body {
        background-color: lightblue;
      }
      p.dotted {outline-style: dotted;}
      


      
      
      li a {
        display: block;
      }*/
    
