body{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 60;
      }
      
      li a {
        display: block;
      }
    ul {
        list-style-type: none;
        margin: 19;
        padding: 20;
      }
    h1{
        background-color: rgb(175, 180, 180);
    }
    div{
        background-color: rgb(120, 131, 127);
        opacity: 0,3;
    }
    p {
        background-color: rgb(135, 135, 130);
    }
    body {
        background-color: lightblue;
      }
      p.dotted {outline-style: dotted;}
      


      
      
      li a {
        display: block;
      }
    }
